/* ================= SPONSOR BERJALAN ================= */

.sponsor-wrapper {
    width: 100%;
    overflow: hidden;
    background: #f8f9fa;
    padding: 20px 0;
}

.sponsor-track {
    display: flex;
    width: max-content;
    gap: 60px;
    animation: sponsorMove 20s linear infinite;
}

.sponsor-track img {
    height: 60px;
    object-fit: contain;
}

/* ANIMASI JALAN PASTI */
@keyframes sponsorMove {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-2000px);
    }
}


/* HEADER STICKY */
#headerMain {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

/* Saat scroll ke bawah */
.header-hide {
    transform: translateY(-100%);
}

/* Saat scroll ke atas */
.header-show {
    transform: translateY(0);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

/* Supaya konten tidak ketutup header */
body {
    padding-top: 130px;
    /* sesuaikan tinggi topbar + navbar */
}
